* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url("../assets/images/green-monstera-leaves-by-white-wall.jpg");
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box {
    min-width: 400px;
    background: #ffffff;
    border-radius: 38px;
    text-align: center;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;

}

.box::before {
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 166px -31px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    z-index: -1;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
}

.content {
    padding: 0 40px;
}

.input {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
    border-radius: 28px;
    padding: 20px 0;
    margin-bottom: 20px;
}

#calculate {
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}


.input label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.input input {
    outline: none;
    border: none;
    border-bottom: 1px solid #74f94f;
    width: 60%;
    text-align: center;
    font-size: 28px;
    font-family: 'Nunito', sans-serif;
}

button#calculate {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    background: #4c9f32;
    border-radius: 12px;
    padding: 12px 0;
    width: 100%;
    outline: none;
    border: none;
    transition: background .2s ease;
}

button#calculate:hover {
    background: #17a90d;
}

#result{
    padding-top: 8px;
}

.result {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
}

.result #result {
    margin-top: 2px;
    font-size: 36px;
    font-weight: 900;
    color: #17a90d;
    background-color: #eaeaea;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}

#yourBmi {
    padding-top:10px;
    padding-bottom: 8px;


}

#commentId {
    padding-bottom: 8px;
}

#comment {
    color: #148f19;
    font-weight: 800;
}




